.editable-original{
    display: inline-block;
}

footer{
    background-color: rgba(255, 255, 255, 0);
}

.navbar-brand{
    padding: 10px 15px
}

body {
	/*margin-top: 0px; *//* adjust this if the height of the menu bar changes */
    padding-top: 95px;
}

.nav {
	margin-top: 34px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}

.logo{
    width: 30%;
    float: left;
}

.logo img{
    width: 100%;
    max-height: 84px;
    max-width: 342px;
}

#myCarousel{
    margin-top: -10px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    body {
	    /*margin-top: 0px; *//* adjust this if the height of the menu bar changes */
        padding-top: 80px;
    }

    .logo{
        width: 42%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .logo{
        width: 42%;
    }

    .navbar-collapse.in {
        overflow-y: auto;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .logo{
        width: 36%;
    }

    .navbar-collapse.in {
        overflow-y: auto;
    }
}
@media (min-width: 1200px) {
    .navbar-collapse.in {
        overflow-y: auto;
    }
}

.navbar.collapsed .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;

    left: 0;
}

.navbar-collapse.in {
    overflow-x: hidden;
}
